### Task:

* Create a temporary dataframe using the copy method
* Find out how to drop the columns which have less values e.g metascore
* Replaceall null values in relatively filled in columns with the corresponding measure of central tendency e.g replace country missing values with the mode.

NB: Make sure all columns with null values are dealt with appropriately in the temporary dataframe copy you created

In [1]:
import pandas as pd

In [45]:
movies = pd.read_csv("IMDb_movies.csv")

In [46]:
movies.shape

(81273, 22)

In [47]:
moviesCopy = movies.copy()

In [48]:
moviesCopy.shape

(81273, 22)

In [49]:
moviesCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  usa_gross_income       15094 non-null  object
 18  worlwide_gross_income  29892 non-null  object
 19  metascore              12722 non-null  float64
 20  reviews_from_users     74196 non-null  float64
 21  reviews_from_critics   70286 non-null  float64
dtypes: float64(4), int64(3), object(15)
memory usage: 13.6+ MB

In [50]:
moviesCopy["metascore"].describe()

count    12722.000000
mean        55.762695
std         17.757453
min          1.000000
25%         43.000000
50%         56.000000
75%         69.000000
max        100.000000
Name: metascore, dtype: float64

In [51]:
moviesCopy.pop("metascore")

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
81268   NaN
81269   NaN
81270   NaN
81271   NaN
81272   NaN
Name: metascore, Length: 81273, dtype: float64

In [52]:
moviesCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  usa_gross_income       15094 non-null  object
 18  worlwide_gross_income  29892 non-null  object
 19  reviews_from_users     74196 non-null  float64
 20  reviews_from_critics   70286 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 13.0+ MB

In [53]:
moviesCopy.pop("duration")

0         70
1         53
2        100
3         68
4         60
        ...
81268    106
81269    120
81270    111
81271    130
81272     98
Name: duration, Length: 81273, dtype: int64

In [54]:
moviesCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   country                81234 non-null  object
 7   language               80518 non-null  object
 8   director               81200 non-null  object
 9   writer                 79780 non-null  object
 10  production_company     76948 non-null  object
 11  actors                 81207 non-null  object
 12  description            78843 non-null  object
 13  avg_vote               81273 non-null  float64
 14  votes                  81273 non-null  int64
 15  budget                 22804 non-null  object
 16  usa_gross_income       15094 non-null  object
 17  worlwide_gross_income  29892 non-null  object
 18  reviews_from_users     74196 non-null  float64
 19  reviews_from_critics   70286 non-null  float64
dtypes: float64(3), int64(2), object(15)
memory usage: 12.4+ MB

In [55]:
# Dropping columns with lots of null values

moviesCopy.drop(["description"], axis = 1, inplace = True)
moviesCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   country                81234 non-null  object
 7   language               80518 non-null  object
 8   director               81200 non-null  object
 9   writer                 79780 non-null  object
 10  production_company     76948 non-null  object
 11  actors                 81207 non-null  object
 12  avg_vote               81273 non-null  float64
 13  votes                  81273 non-null  int64
 14  budget                 22804 non-null  object
 15  usa_gross_income       15094 non-null  object
 16  worlwide_gross_income  29892 non-null  object
 17  reviews_from_users     74196 non-null  float64
 18  reviews_from_critics   70286 non-null  float64
dtypes: float64(3), int64(2), object(14)
memory usage: 11.8+ MB